#body{
    font-family: 'Cabin', sans-serif;
}
#displayPassword
{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
#textArea
{
    font-size: 20px;
    padding: 20px;
    width:75%;
    height: 130px;
    text-align: center;    
}
.btn{
    
    padding: 15px 32px;
    text-align: center;
    background-color: red;
    border-radius: 8px;
    font-size: 18px;
    color: whitesmoke;
}

.header
{
    text-align: center;
    border-block: 20px;
    
}
.container{
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
   
}
